p {
  color: blue;
  font-size: 18px;
}

/* ----Class selector---- */
.highlight {
  background-color: yellow;
  font-weight: bold;
}

/* ----ID selector---- */
#special {
  color: red;
  text-decoration: underline;
}

/* ----adding fonts -----*/

.fancy-text {
  font-family: cursive;
  font-size: 20px;
  color: darkblue;
}

/* if the fonts is google fonts */
 .google-font {
  font-family: "Roboto", sans-serif;
}

